body {
    font-family: 'Poppins', sans-serif;
}

.fa-star {
    color: goldenrod;
    font-size: larger;
}

.font-icon {
    font-size: 30px;
    color: gray;
}

.footer {
    width: 100%;

    min-height: 300px;
    background-color: #161616;
    color: white;
}